<%= form_for(commission_type) do |f| %>
  <% if commission_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commission_type.errors.count, "error") %> prohibited this commission_type from being saved:</h2>

      <ul>
      <% commission_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :days_to_complete %>
    <%= f.number_field :days_to_complete %>
  </div>

  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
