<p id="notice"><%= notice %></p>

<h1>Commission Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Days to complete</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commission_types.each do |commission_type| %>
      <tr>
        <td><%= commission_type.name %></td>
        <td><%= commission_type.days_to_complete %></td>
        <td><%= commission_type.active %></td>
        <td><%= link_to 'Show', commission_type %></td>
        <td><%= link_to 'Edit', edit_commission_type_path(commission_type) %></td>
        <td><%= link_to 'Destroy', commission_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commission Type', new_commission_type_path %>
