<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @request.title %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @request.fullname %>
</p>

<p>
  <strong>Contact address:</strong>
  <%= @request.contact_address %>
</p>

<p>
  <strong>Commission type:</strong>
  <%= @request.commission_type_name %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @request.due_date.to_s(:my_date) %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @request.comments %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
